<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Flysky</title>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
        <script src="https://cdn.jsdelivr.net/gh/jquery/jquery@3.2.1/dist/jquery.min.js"></script>
        <link rel="stylesheet" href="/css/index.css" />
    </head>

    <body>
        <!-- live2d -->
        <div id="landlord">
            <div class="message" style="opacity: 0"></div>
            <canvas id="live2d" width="2200" height="2000"></canvas>
            <!-- <div class="hide-button">隐藏</div> -->
        </div>
        <link rel="stylesheet" href="/live2d/css/live2d.css" />
        <script src="/live2d/js/message.js"></script>
        <script src="/live2d/js/live2d.js"></script>
        <script>
            loadlive2d("live2d", "/live2d/model/tia/model.json");
        </script>
        <!-- vue -->
        <div id="app">
            <div class="box" :style="boxStyle">
                <div
                    class="icon"
                    :style="iconStyle"
                ></div>
                <input
                    class="input"
                    v-model="content.value"
                    @focus="getFocus"
                    @blur="loseFocus"
                    @keydown="keyDown"
                />
                <button class="btn" @click="goSearch"></button>
                <div class="search">
                    <button
                        :class="['select',{checked: index==search.index}]"
                        :style="selectStyle"
                        v-for="(item,index) in search.api"
                        :key="item.id"
                        @click="setIndex(index)"
                    >
                        {{item.name}}
                    </button>
                </div>
            </div>
            <div
                class="itemBtn"
                :style="itemBtnStyle"
                @click="showSearch"
            ></div>
        </div>
        <script src="/js/index.js"></script>
    </body>
</html>
